<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="./bootstrap.php">
    <testsuites>
        <testsuite name="All Tests">
            <directory>./lib</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">../src/lib</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="./logs/coverage/" charset="UTF-8" yui="true" highlight="false"
             lowUpperBound="35" highLowerBound="70" />
        <log type="coverage-clover" target="./logs/coverage.xml"/>
    </logging>
</phpunit>